#map{
    height: 99.5%;
    width: 99.5%;
}

svg{
    background-color: darkgray;
}

.country{ fill: rgb(0, 75, 151); }

.point {
    /*fill: orange;*/
    /*stroke: #FFF;*/
}

.hidden {
    display: none;
}
